In [29]:
#Github doesnot allow files larger than 25MB. I have a large file >42MB I wish to use in my code. 
#So breaking it into two smaller files. We are splitting row-wise

In [30]:
import pandas as pd
df = pd.read_csv('downloads/observations.csv') #large file

#we are dividing the large dataframe into two roughly equal parts. 
#If len(df) is even, both halves are equal.
#If itâ€™s odd, the second half will have one more row.

In [31]:
midpoint = len(df) // 2
df1 = df.iloc[:midpoint]
df2 = df.iloc[midpoint:]

df1.to_csv('part1.csv',index = False)
df2.to_csv('part2.csv',index = False)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299697 entries, 0 to 299696
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         299697 non-null  object
 1   PATIENT      299697 non-null  object
 2   ENCOUNTER    269334 non-null  object
 3   CODE         299697 non-null  object
 4   DESCRIPTION  299697 non-null  object
 5   VALUE        299697 non-null  object
 6   UNITS        286962 non-null  object
 7   TYPE         299697 non-null  object
dtypes: object(8)
memory usage: 18.3+ MB

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149848 entries, 0 to 149847
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         149848 non-null  object
 1   PATIENT      149848 non-null  object
 2   ENCOUNTER    132385 non-null  object
 3   CODE         149848 non-null  object
 4   DESCRIPTION  149848 non-null  object
 5   VALUE        149848 non-null  object
 6   UNITS        142921 non-null  object
 7   TYPE         149848 non-null  object
dtypes: object(8)
memory usage: 9.1+ MB

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149849 entries, 149848 to 299696
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         149849 non-null  object
 1   PATIENT      149849 non-null  object
 2   ENCOUNTER    136949 non-null  object
 3   CODE         149849 non-null  object
 4   DESCRIPTION  149849 non-null  object
 5   VALUE        149849 non-null  object
 6   UNITS        144041 non-null  object
 7   TYPE         149849 non-null  object
dtypes: object(8)
memory usage: 9.1+ MB

In [35]:
df1.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2012-01-23T17:45:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,8302-2,Body Height,193.3,cm,numeric
1,2012-01-23T17:45:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,2.0,{score},numeric
2,2012-01-23T17:45:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,29463-7,Body Weight,87.8,kg,numeric
3,2012-01-23T17:45:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,39156-5,Body Mass Index,23.5,kg/m2,numeric
4,2012-01-23T17:45:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e88bc3a9-007c-405e-aabc-792a38f4aa2b,8462-4,Diastolic Blood Pressure,82.0,mm[Hg],numeric